# This file contains snippets that are always defined. I personally
# have snippets for signatures and often needed texts

priority -55

snippet author "author <email>"
`!v g:snips_author` <`!v g:snips_email`>
endsnippet

snippet sign "Signature"
Хорошего вам дня 	- 	Have a nice day
С уважением			-	Yours sincerely

`!v g:snips_author_ru`		-	`!v g:snips_author`
${0}
endsnippet

# vim:ft=snippets:
