# This file contains snippets that are always defined. I personally
# have snippets for signatures and often needed texts

priority -55

snippet sign "Signature"
Хорошего вам дня 	- 	Have a nice day
С уважением			-	Yours sincerely

${3:`!v g:snips_author_ru`}		-	${2:`!v g:snips_author`}
${0}
endsnippet

# vim:ft=snippets:
